@import url("//unpkg.com/element-ui@2.14.0/lib/theme-chalk/index.css");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}

header {
    background: #232f3e;
}

.header__top a {
    color: white;
    font-family: 'Grandstander', cursive;
    line-height: 45px;
    font-size: 13px;
    font-weight: normal;
}

.header__top .left__info__block a .fa-phone-alt {
    font-size: 14px;
}

.header__top .right__info__block ul {
    display: flex;
    justify-content: space-between;
}

.header__top .left__info__block {
    width: 60%;
}

.header__top .right__info__block {
    width: 40%;
}

.header__middle {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    justify-content: space-between;
}

header input[type=text] {
    font-family: 'Poppins', sans-serif;
    padding: 6px 11px;
    width: 80%;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
}

header input[type=text]:focus {
    background-color: rgb(216, 213, 213);
}

header input[type=button] {
    font-family: 'Poppins', sans-serif;
    padding: 6px 11px;
    width: 15%;
    font-size: 12px;
    text-transform: uppercase;
    background: #dc1373;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 0 20px;
    min-width: 128px;
    border-radius: 0 3px 3px 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.sticky_header input[type=text] {
    font-family: 'Poppins', sans-serif;
    padding: 6px 11px;
    width: 180%;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
}

.searchbar-fixed {
    display: flex;
    width: 100%;
}

.sticky_header input[type=text]:focus {
    background-color: rgb(216, 213, 213);
}

.sticky_header input[type=button] {
    font-family: 'Poppins', sans-serif;
    padding: 6px 11px;
    width: 15%;
    font-size: 12px;
    text-transform: uppercase;
    background: #dc1373;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 0 20px;
    min-width: 128px;
    border-radius: 0 3px 3px 0;
    -webkit-transition: .3s;
    transition: .3s;
}

.sticky_header {
    position: fixed;
    display: flex;
    background: #232f3ed5;
    width: 100%;
    backdrop-filter: blur(5px);
    overflow: hidden;
    padding: 12px 0;
    display: none;
    z-index: 3;
    top: 0;
    align-items: center;
    justify-content: space-between;
}

header.sticky+.sticky_header {
    display: block;
}

.sticky_header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticky_header .container .sticky_header_navbar {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.sticky_header .container .sticky_header_logo {
    width: 50%;
}

#button__badge {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

#button__badge:hover {
    background: #dc1373;
    color: #fff;
    display: flex;
    border: 1px solid #dc1373;
    align-items: center;
    justify-content: center;
}

.el-badge:nth-child(1) {
    right: 15px;
}

.searchbar {
    border-radius: 8px;
    display: flex;
    width: 45%;
}

.el-badge__content {
    background-color: rgb(238, 44, 44);
    height: 18px;
    border: none;
    line-height: 18px;
}


/* font-family: 'Grandstander', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_bottom .right_side {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center
}

.header_bottom .right_side .bottom-links {
    color: #fff;
    display: inline-block;
    display: inline-block;
    color: inherit;
    display: block;
    color: white;
    padding: 15px 15px 15px 15px;
    background: #232f3e;
    font-family: Ubuntu;
    text-transform: capitalize;
}


/* header bottom dropdown section  */

.dropdown_menu-left {
    position: absolute;
    display: none;
    position: absolute;
    display: none;
    top: 49px;
    transform-origin: top center;
    left: 45px;
    perspective: 1000px;
    animation: growDown 700ms ease-in-out forwards;
    z-index: 2;
}

.dropdown-left:hover .dropdown_menu-left {
    display: block;
}

.dropdown_menu-left a:first-child {
    padding: 0;
}

.drop-btn {
    padding: 15px 0;
    display: inline-block;
    color: inherit;
    display: block;
    color: white;
    padding: 15px 40px 15px 15px;
    background: #232f3e;
    font-family: Ubuntu;
    text-transform: capitalize;
}

.dropdown-left a {
    padding: 15px 0;
    display: inline-block;
    color: inherit;
    display: block;
    color: white;
    /* padding: 15px 40px 15px 15px; */
    background: #232f3e;
    font-family: Ubuntu;
    text-transform: capitalize;
}

.dropdown_menu-left a {
    text-transform: capitalize;
    display: block;
    color: white;
    padding: 15px 40px 15px 15px;
    background: #232f3e;
    font-family: Ubuntu;
    text-transform: capitalize;
}

.dropdown_menu-left a:hover {
    background: #232b35;
    transition: 0.4s;
}


.dropdown_menu {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 2;
    perspective: 1000px;
    display: none;
    animation: downOut 300ms ease-in-out forwards;
    transform-origin: center center;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-menu-left {
    position: absolute;
    bottom: 0;
}

.dropdowbn_btn .fa-bars {
    margin-left: 15px;

}

.dropdown_menu a {
    display: block;
    color: #fff;
    font-family: Ubuntu;
    width: max-content;
    padding: 15px 40px 15px 15px;
    background: #232f3e;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown_menu a:hover {
    background: #232b35;
    transition: 0.4s;
}

.dropdown_menu a:nth-child(2) {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.dropdown_menu a:nth-child(6) {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropdown .dropdowbn_btn {
    color: #fff;
    font-family: Ubuntu;
    display: flex;
    align-items: center;
    padding: 15px 0;
    display: inline-block;
}

.dropdown:hover .dropdown_menu--animated {
    display: block;
}

.dropdown:hover .dropdown_menu.column {
    display: block;
}

.dropdown_menu--animated .fa-caret-right {
    margin-left: 15px;
}

.dropdown_menu--animated a:hover .fa-caret-right {
    transform: translateX(7px);
    transition: 0.4s all ease-in-out;
}

.site_main {
    padding-top: 15px;
}

.owl-carousel img {
    width: 1200px;
    height: 400px;
    object-fit: cover;
    object-position: center right;
    border-radius: 5px;
}


.drop-btn .fa-chevron-down {
    font-size: 12px;
    transition: all 0.4s ease-in-out;
}

.drop-btn:hover .fa-chevron-down {
    transform: translateY(5px);
}

/* the end */

section.items {
    height: 200vh;
}

/* info blog container */
.info_blog_wrapper {
    display: flex;
    justify-content: space-between;
    background: rgba(170, 170, 170, 0.212);
    padding: 12px 8px;
    border-radius: 8px
}

.info_blog_wrapper .info_item {
    display: flex;
    justify-content: space-between;
    padding: 12px 8px;
    position: relative;
    align-items: center;
}

.info_blog_wrapper .info_item h3 {
    font-size: 16px;
    font-family: 'Ubuntu';
    font-weight: normal;
    width: 85%;
    flex-basis: content;
    color: rgb(46, 46, 46);
}

.info_blog_wrapper .info_item img {
    margin-right: 12px;
}

.info_blog_wrapper .info_item::before {
    content: '';
    height: 50px;
    width: 1.5px;
    background: #232f3e62;
    position: absolute;
    left: -25px;
    top: 7px;
    border-radius: 3px;
    bottom: 0;
}

.info_blog_wrapper .info_item:first-child::before {
    display: none;
}

.items-section .hot_items {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 25px;
    line-height: 3;
    color: rgb(63, 63, 63);
    position: relative;
    color: #3b3b3b;
    font-size: 2.8125em;
    font-family: "roboto",
        Arial,
        Helvetica,
        sans-serif;
}

.items-section .hot_items::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 15px;
    width: 90%;
    height: 2px;
    background: #aaa;
}

.products_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.product-info {
    position: relative
}

.products_container .product {
    display: inline-block;
    padding: 20px 25px 15px 25px;
    background: #FFFFFF;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 250px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    margin-bottom: 45px;
}

.products_container .product img {
    width: 100%;
    height: 284px;
    object-fit: contain;

}

.product .icons {
    position: absolute;
    top: 50%;
    right: 30%;
    display: flex;
}

.product .icons i {
    height: 40px;
    margin-right: 8px;
    width: 40px;
    display: flex;
    color: #dc1373;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 10px #817b7b;
    perspective: 1000px;
    font-size: 14px;
    transform: translateY(150px);
    opacity: 0;
}

.product .icons i:hover {
    background: #dc1373;
    color: white;
    transition: 0.4s;
}

.product:hover .icons i {
    animation: jumpingIcons 500ms forwards ease-in-out;
}




.products_container .product:hover {
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.products_container .product:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.products_container .product img {
    width: 130px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.products_container .product .product_title {
    font-size: 16px;
    font-family: 'Ubuntu';
    color: rgb(46, 46, 46);
    margin-bottom: 16px;
}

.products_container .product .sort_name {
    font-size: 12px;
    font-family: 'Ubuntu';
    background: #232f3e;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 8px;
    color: rgb(255, 255, 255);
    margin-bottom: 12px;

}

.products_container .product .price {
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
}

.products_container .product .price * {
    display: block;
}

.products_container .product .price {
    margin-left: 20%;
    color: black;
    font-family: Ubuntu;
}

.products_container .product del {
    text-decoration: line-through;
    font-size: 13px;
    text-align: end;
    opacity: 0.7;
}

/*  */
.deals-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

.deal-name {
    line-height: 1;
    font-weight: 300;
    margin: 1em 0;
    color: #3b3b3b;
    font-size: 2.8125em;
    font-family: "roboto",
        Arial,
        Helvetica,
        sans-serif;
}

.deals-wrapper .deal {
    padding: 14px 25px 32px;
    background-color: #fff;
    border-style: solid;
    border-width: 4px 1px 1px;
    border-color: #f80320 #e3e3e3 #e3e3e3;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    max-width: 20em;
    color: #232b35;
    color: #3b3b3b;
    font-family: "roboto",
        Arial,
        Helvetica,
        sans-serif;
    display: block;
    transition: 0.3s all;


}

.deals-wrapper .deal:hover {
    box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.deals-wrapper .deal:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.deal .countdown {
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    font-family: 'Hind Madurai',
        sans-serif;
    font-size: 14px;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #01295aa4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: White;
    font-weight: 900;
    font-size: 24px;
    transform: translateY(250px);
    transition: 0.4s all;
    opacity: 0;
}

.deal:hover .label {
    transform: translateY(90px);
    opacity: 1;
}

.label h3 {
    color: white;
    text-transform: capitalize;
    font-family: 'ubuntu';
    font-size: 20px;
    font-weight: normal;
}

.deal .countdown #counter {
    color: red;
    font-weight: 600;
    font-size: 20px;
}

.deal .deal-heading {
    font-family: 'Hind Madurai',
        sans-serif;
    font-size: 1em;
    text-align: center;
    margin-bottom: 15px;
}

.deal .deal-price {
    display: flex;
    flex-direction: column;
    color: #f8600c;
    text-align: center;
    font-family: "roboto",
        Arial,
        Helvetica,
        sans-serif;
    line-height: 1.2;
    margin-bottom: 15px;
}

.deal .deal-price .prev-price {
    text-decoration: line-through;
    font-size: 14px;
    color: #aaa;
}

.deal .view-deal {
    background-color: #333;
    border-color: #333;
    color: #fff;
    border: none;
    border-radius: 15px;
    display: block;
    font-size: .9375em;
    padding: .4375em 2em;
    margin: 0 auto;
    font-size: 1.0625em;
    cursor: pointer;
    font-family: inherit;
    transition: 0.3s;
}

.deal .view-deal:hover {
    background: rgba(19, 19, 19, 0.972);
}

.deal .deal-img {
    display: block;
    margin: 0 auto 25px auto;
}

.best-offers {
    margin-bottom: 110px;
    border-top: 2px solid #232b353f;
}

.best-offers .offer-title {
    line-height: 3;
    font-family: 'Hind Madurai';
    font-weight: normal;
    font-size: 3rem;
    position: relative;
}

.best-offers .offer-title:before {
    content: '';
    width: 90%;
    height: 2px;
    position: absolute;
    bottom: 40px;
    /* left: 0; */
    right: 0;
    background: #aaa;
}

.offer-carousel .item img {
    object-fit: contain;
    display: block;
    overflow: hidden;
}



.offer-carousel .item {
    margin: 0 55px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 15px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    position: relative;
    width: 250px;
}

.offer-carousel .item-desc {
    position: absolute;
    background: rgba(80, 91, 182, 0.322);
    bottom: 0;
    left: 0;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 0;
    border-radius: 10px;
    right: 0;
    margin: auto;
    transition: 0.4s;
}

.item-desc .item_name {
    padding: 30px 10px;
    font-family: 'Hind Madurai'

}

.item-desc .item_text {
    padding: 30px 10px;
    font-family: 'Hind Madurai';

}

.item-desc .item_text a {
    color: white;
    margin-left: 15px;
    text-decoration: underline;

}

.offer-carousel .item:hover .item-desc {
    height: 100%;
}

.subscribe {
    background: #232f3e;
}

.subscribe-wrapper {
    display: flex;
    align-items: center
}

.subscribe-wrapper .left {
    width: 50%;
}

.subscribe-wrapper .left h1 {
    font-weight: 600;
    font-family: 'Hind Madurai';
    font-size: 32px;
    text-transform: capitalize;
    color: white;
    padding: 25px 0;
}

.subscribe-wrapper .right {
    font-family: 'Hind Madurai';
    width: 50%;
}

.subscribe-wrapper .right form input {
    font-family: 'Hind Madurai';
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    width: 80%;
}


.subscribe-wrapper .right form button {
    font-family: 'Hind Madurai';
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    background: #dc1373;
    color: white;


}

.site_footer .container {
    padding-top: 3%;
    display: flex;
}

.img_containers img {
    object-fit: contain;
    object-position: center;
    margin-bottom: 5px;
    margin-right: 5px;
}

.site_footer .footer_left {
    width: 30%;
}

.site_footer .footer_left .fhead a {
    margin-bottom: 35px;
    display: block;
}

.site_footer .footer_left .fhead .payment-methods {
    font-family: 'Hind Madurai';
    line-height: 3;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
}


.img_containers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 70%;
}



.footer_right {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
}

.footer_right .list_item h3 {
    font-family: 'Hind Madurai';
    line-height: 3;
    font-size: 16px;
    text-transform: capitalize;

}

.footer_right .list_item a {
    font-family: 'Hind Madurai';
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(117, 117, 117);
    cursor: pointer;
}

.footer_right .list_item.orange a {
    color: #dc1373;
    font-weight: 500;
}

.map * {
    border: none;
    border-radius: 5px;
}

.map h3 {
    font-family: 'Hind Madurai';
    line-height: 3;
    font-size: 16px;
    text-transform: capitalize;
}







/* animation  */
@-moz-keyframes downOut {
    0% {
        transform: translateZ(200px) transLateY(40px);
    }

    80% {
        transform: translateZ(-10px) transLateY(0px);
    }

    100% {
        transform: translateZ(0px) transLateY(0px);
    }
}

@-webkit-keyframes downOut {
    0% {
        transform: translateZ(200px) transLateY(40px);
    }

    80% {
        transform: translateZ(-10px) transLateY(0px);
    }

    100% {
        transform: translateZ(0px) transLateY(0px);
    }
}

@-o-keyframes downOut {
    0% {
        transform: translateZ(200px) transLateY(40px);
    }

    80% {
        transform: translateZ(-10px) transLateY(0px);
    }

    100% {
        transform: translateZ(0px) transLateY(0px);
    }
}

@keyframes downOut {
    0% {
        transform: translateZ(200px) transLateY(40px);
    }

    80% {
        transform: translateZ(-30px) transLateY(0px);
    }

    100% {
        transform: translateZ(0px) transLateY(0px);
    }
}

@keyframes growDown {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }

    50% {
        transform: rotateX(-20deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes jumpingIcons {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

#animated-example {
    background: #dc1373;
    height: 50px;
    margin: 20px auto;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.7);
}

#animated-example .fa-phone-alt {
    color: #fff;
    font-size: 20px;
}

.animated {
    animation-duration: 1.4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-25px);
    }

    60% {
        transform: translateY(-10px);
    }
}

.bounce {
    animation-name: bounce;
}

.bell_wrapper {
    position: fixed;
    right: 10px;
    bottom: 10px;
}